.DS_Store
node_modules
/dist


# local env niCloudFiles
.env.local
.env.*.local

# Log niCloudFiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and niCloudFiles
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
